.services {
    padding: 10em 0;
    display: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    /* background-color: lightblue; */
    text-align: center;
}

.services .servicesHeader{
    text-align: center;
    color: black;
    
}

.servicesList {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
    justify-content: center;
}
.serviceItem{
    margin: 4em;
}
@media screen and (max-width:768px) {  
    .servicesList{
        gap: 10em;
    }  

}