.RateSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    /* background-color: red; */
    margin: 250px auto;
    padding: 1em;


}

.RateSectionList {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.5em;

}

.RateSectionHeader {
    color: black;
    text-align: center;
    justify-self: center;
    align-items: center;
    margin: 0em auto 4em;
}


@media screen and (max-width:768px) {

    .RateSection,
    .RateSectionList {
        flex-direction: column;
        align-items: center;
    }

}