.Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 250px auto 250px auto;
}



.MenuList {
    width: 100%;
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    max-width: 1399px;
    color: black;
    grid-gap: 100px;
}



.MenuIcon {
    padding-left: 1em;
    width: 100%;
    max-width: 450px;
}

.MenuItem {
    height: 360px;
    margin: auto;

}

.ItemDesc {
    text-align: center;
    font-size: 1.5em;
    /* padding: .1em; */
}

.MenuItem h2 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgba(1, 1, 1, 0.874);
    color: #fff;
    padding: .3em;
    /* margin: .3em; */
}

@media screen and (max-width:768px) {
    .MenuList {
        grid-template-columns: 1fr;
    }


}