.stepper-container {
    background-color: black;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.StepperForm {
    margin-top: 7em;
    background-color: #fff;
    border-radius: 10px;
    padding: 2em;
    width: 900px;
    height: 700px;

    display: flex;
    flex-direction: column;

    justify-self: center;
    align-self: center;

}

.StepperContent {
    max-height: 700px;
    height: 100%;
}

@media screen and (max-width:768px){
    .stepper-container{
        min-height: max-content;
        /* background-color: lightblue; */
     }
     .StepperForm{
        border-radius: 0px;
        /* max-height: 800px; */

     }
    .StepperContent{
        max-height:auto;
        /* background-color: red; */
        /* padding: em; */
    }

}