/* EditModal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    max-width: 90%; /* Limit the width to 90% of the viewport width */
    width: 400px; /* Set a fixed width for small screens */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  
  .modal-content h3 {
    margin-bottom: 10px;
  }
  
  .form-label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%; /* Use 100% width for small screens */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-actions {
    display: flex;
    flex-direction: column; /* Stack buttons vertically for small screens */
    gap: 1em; /* Add some spacing between buttons */
    margin-top: 20px;
  }
  
  .modal-actions button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-actions button:first-child {
    background-color: #4caf50;
    color: #fff;
  }
  
  .modal-actions button:last-child {
    background-color: #f44336;
    color: #fff;
  }
  
  /* Media query for small screens */
  @media screen and (max-width: 600px) {
    .modal-content {
      width: 90%; /* Adjust the width for small screens */
      max-width: 100%; /* Remove the maximum width for small screens */
    }
  }
  