.banner {
  position: relative;
  min-height: clamp(0px, 56.25vw, 100vh);
  background-position: right;
  background-repeat: no-repeat;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../Images/banner1.jpg");
  background-size: cover;
  background-position: center center;
  filter: brightness(65%) contrast(120%) blur(0.1px);
  z-index: -1;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  z-index: 1;
  overflow-wrap: break-word;
  width: 90%;
  max-width: 60vw;
  text-align: center;
}

.banner-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.banner-content button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 2rem;
  margin: 1rem 0;
  transition: background-color 0.2s ease;
}

.banner-content button:hover {
  background-color: #fff;
  color: black;
}


@media (max-width: 900px) {
  .banner {
    /* top: 7em; */
    min-height: 100vw;
    margin-bottom: 6em;
  }

  .banner-content {
    max-width: 100%;
    max-width: 100%;
    text-align: center;
    top: 60%;
    padding: 1em;
    margin: auto;
    text-shadow: 1px 1px black;
  }

  .banner-content h1 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .banner-content button {
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
  }
}